
#id{
    margin: 5px;
}
#clear{
    margin: 5px;
}
thead{
   background-color: rgb(255, 0, 55);
}
#tablebody{
    background-color: rgb(50, 205, 133);
}
.table{
    border: 4px black solid;
}
h2,h1{
    text-align: center;
}
#dat{
    align-items: center;
    text-align: center;
    
}
